language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8

os:
  - linux
  - osx
  - windows

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
#  - pip install codecov

install:
  - pip install .

script:
  - pytest -v

# after_success:
#   - codecov
