numpy==1.19.2
pandas==1.1.4
tensorflow==2.7.0
tensorflow-addons==0.15.0
nibabel==3.1.0
matplotlib==3.3.1
pillow==8.3.2
batchgenerators==0.21
pydicom==2.0.0
SimpleITK==2.0.2
scikit-image==0.18.2
tqdm==4.51.0
